In [1]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.DataFrame(index=['x','y'], data={'a':[1,2], 'b':[3,4]})
df

   a  b
x  1  3
y  2  4

In [5]:
df=pd.read_csv('jikgu_data.csv', encoding='utf-8')
df

,국가(대륙)별,상품군별,2014-03-01,2014-06-01,2014-09-01,2014-12-01,2015-03-01,2015-06-01,2015-09-01,2015-12-01,...,2019-12-01,2020-03-01,2020-06-01,2020-09-01,2020-12-01,2021-03-01,2021-06-01,2021-09-01,2021-12-01,2022-03-01
0,미국,합계,"280,103","275,464","271,449","370,916","308,221","286,357","276,984","356,800",...,"488,589","484,162","383,212","413,077","531,115","526,665","481,684","461,458","600,910","554,260"
1,NaN,컴퓨터 및 주변기기,"6,509","5,825","6,575","9,571","9,035","9,133","6,675","11,016",...,"13,305","9,352","5,444","5,081","13,687","9,271","6,615","6,139","13,548","13,522"
2,NaN,가전·전자·통신기기,"13,378","11,671","16,732","31,516","22,018","17,989","18,272","34,530",...,"66,037","50,451","25,633","20,956","61,216","41,553","27,252","22,809","53,131","27,600"
3,NaN,소프트웨어,538,518,496,740,730,493,576,823,...,"1,400","1,136",715,797,"1,558","1,469",919,879,"1,444","1,214"
4,NaN,서 적,"1,991","1,585","1,901","1,984","2,339","1,943","2,266","2,887",...,"3,008","3,562","2,393","3,576","4,426","5,059","4,101","4,109","5,307","4,901"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,NaN,아동·유아용품,12,6,8,6,26,15,4,9,...,27,21,15,23,48,39,39,36,51,42
131,NaN,음·식료품,77,112,108,135,123,231,392,187,...,"2,446","3,393","3,155","3,224","3,838","4,469","4,460","4,138","5,241","5,444"
132,NaN,농축수산물,0,1,0,0,0,1,4,2,...,5,8,76,63,6,189,247,159,194,165
133,NaN,생활용품 및 자동차용품,16,15,16,19,23,27,32,30,...,109,410,165,156,216,237,232,209,315,324
134,NaN,기 타,222,150,85,125,182,229,87,163,...,216,494,517,384,563,499,511,855,589,493

In [6]:
df = df.fillna(method='ffill')
df

,국가(대륙)별,상품군별,2014-03-01,2014-06-01,2014-09-01,2014-12-01,2015-03-01,2015-06-01,2015-09-01,2015-12-01,...,2019-12-01,2020-03-01,2020-06-01,2020-09-01,2020-12-01,2021-03-01,2021-06-01,2021-09-01,2021-12-01,2022-03-01
0,미국,합계,"280,103","275,464","271,449","370,916","308,221","286,357","276,984","356,800",...,"488,589","484,162","383,212","413,077","531,115","526,665","481,684","461,458","600,910","554,260"
1,미국,컴퓨터 및 주변기기,"6,509","5,825","6,575","9,571","9,035","9,133","6,675","11,016",...,"13,305","9,352","5,444","5,081","13,687","9,271","6,615","6,139","13,548","13,522"
2,미국,가전·전자·통신기기,"13,378","11,671","16,732","31,516","22,018","17,989","18,272","34,530",...,"66,037","50,451","25,633","20,956","61,216","41,553","27,252","22,809","53,131","27,600"
3,미국,소프트웨어,538,518,496,740,730,493,576,823,...,"1,400","1,136",715,797,"1,558","1,469",919,879,"1,444","1,214"
4,미국,서 적,"1,991","1,585","1,901","1,984","2,339","1,943","2,266","2,887",...,"3,008","3,562","2,393","3,576","4,426","5,059","4,101","4,109","5,307","4,901"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,기타,아동·유아용품,12,6,8,6,26,15,4,9,...,27,21,15,23,48,39,39,36,51,42
131,기타,음·식료품,77,112,108,135,123,231,392,187,...,"2,446","3,393","3,155","3,224","3,838","4,469","4,460","4,138","5,241","5,444"
132,기타,농축수산물,0,1,0,0,0,1,4,2,...,5,8,76,63,6,189,247,159,194,165
133,기타,생활용품 및 자동차용품,16,15,16,19,23,27,32,30,...,109,410,165,156,216,237,232,209,315,324
134,기타,기 타,222,150,85,125,182,229,87,163,...,216,494,517,384,563,499,511,855,589,493

In [10]:
df = df.drop(df[df.상품군별 == '합계'].index)
df

,국가(대륙)별,상품군별,2014-03-01,2014-06-01,2014-09-01,2014-12-01,2015-03-01,2015-06-01,2015-09-01,2015-12-01,...,2019-12-01,2020-03-01,2020-06-01,2020-09-01,2020-12-01,2021-03-01,2021-06-01,2021-09-01,2021-12-01,2022-03-01
1,미국,컴퓨터 및 주변기기,"6,509","5,825","6,575","9,571","9,035","9,133","6,675","11,016",...,"13,305","9,352","5,444","5,081","13,687","9,271","6,615","6,139","13,548","13,522"
2,미국,가전·전자·통신기기,"13,378","11,671","16,732","31,516","22,018","17,989","18,272","34,530",...,"66,037","50,451","25,633","20,956","61,216","41,553","27,252","22,809","53,131","27,600"
3,미국,소프트웨어,538,518,496,740,730,493,576,823,...,"1,400","1,136",715,797,"1,558","1,469",919,879,"1,444","1,214"
4,미국,서 적,"1,991","1,585","1,901","1,984","2,339","1,943","2,266","2,887",...,"3,008","3,562","2,393","3,576","4,426","5,059","4,101","4,109","5,307","4,901"
5,미국,사무·문구,"1,157",839,"1,030","1,507","1,609","1,145","1,423","1,672",...,"1,593","1,571",967,"1,414","1,817","2,165","1,666","1,693","2,190","2,421"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,기타,아동·유아용품,12,6,8,6,26,15,4,9,...,27,21,15,23,48,39,39,36,51,42
131,기타,음·식료품,77,112,108,135,123,231,392,187,...,"2,446","3,393","3,155","3,224","3,838","4,469","4,460","4,138","5,241","5,444"
132,기타,농축수산물,0,1,0,0,0,1,4,2,...,5,8,76,63,6,189,247,159,194,165
133,기타,생활용품 및 자동차용품,16,15,16,19,23,27,32,30,...,109,410,165,156,216,237,232,209,315,324
134,기타,기 타,222,150,85,125,182,229,87,163,...,216,494,517,384,563,499,511,855,589,493

In [23]:
df.stack()

국가(대륙)별
미국       상품군별          컴퓨터 및 주변기기
         2014-03-01         6,509
         2014-06-01         5,825
         2014-09-01         6,575
         2014-12-01         9,571
                          ...
기타       2021-03-01           499
         2021-06-01           511
         2021-09-01           855
         2021-12-01           589
         2022-03-01           493
Length: 4284, dtype: object

In [24]:
df1 = df.stack()

In [25]:
df1

국가(대륙)별
미국       상품군별          컴퓨터 및 주변기기
         2014-03-01         6,509
         2014-06-01         5,825
         2014-09-01         6,575
         2014-12-01         9,571
                          ...
기타       2021-03-01           499
         2021-06-01           511
         2021-09-01           855
         2021-12-01           589
         2022-03-01           493
Length: 4284, dtype: object

In [26]:
df2 = pd.DataFrame(data=df1)

In [27]:
df2

                             0
국가(대륙)별
미국      상품군별        컴퓨터 및 주변기기
        2014-03-01       6,509
        2014-06-01       5,825
        2014-09-01       6,575
        2014-12-01       9,571
...                        ...
기타      2021-03-01         499
        2021-06-01         511
        2021-09-01         855
        2021-12-01         589
        2022-03-01         493

[4284 rows x 1 columns]

In [30]:
df2.to_csv('jikgu_test.csv', encoding='utf-8-sig')

In [51]:
df = df.melt(id_vars=["국가(대륙)별","상품군별"], var_name="Date", value_name="Value")

In [48]:
df.reset_index(inplace=True)
df

,국가(대륙)별,상품군별,2014-03-01,2014-06-01,2014-09-01,2014-12-01,2015-03-01,2015-06-01,2015-09-01,2015-12-01,...,2019-12-01,2020-03-01,2020-06-01,2020-09-01,2020-12-01,2021-03-01,2021-06-01,2021-09-01,2021-12-01,2022-03-01
0,미국,컴퓨터 및 주변기기,"6,509","5,825","6,575","9,571","9,035","9,133","6,675","11,016",...,"13,305","9,352","5,444","5,081","13,687","9,271","6,615","6,139","13,548","13,522"
1,미국,가전·전자·통신기기,"13,378","11,671","16,732","31,516","22,018","17,989","18,272","34,530",...,"66,037","50,451","25,633","20,956","61,216","41,553","27,252","22,809","53,131","27,600"
2,미국,소프트웨어,538,518,496,740,730,493,576,823,...,"1,400","1,136",715,797,"1,558","1,469",919,879,"1,444","1,214"
3,미국,서 적,"1,991","1,585","1,901","1,984","2,339","1,943","2,266","2,887",...,"3,008","3,562","2,393","3,576","4,426","5,059","4,101","4,109","5,307","4,901"
4,미국,사무·문구,"1,157",839,"1,030","1,507","1,609","1,145","1,423","1,672",...,"1,593","1,571",967,"1,414","1,817","2,165","1,666","1,693","2,190","2,421"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,기타,아동·유아용품,12,6,8,6,26,15,4,9,...,27,21,15,23,48,39,39,36,51,42
122,기타,음·식료품,77,112,108,135,123,231,392,187,...,"2,446","3,393","3,155","3,224","3,838","4,469","4,460","4,138","5,241","5,444"
123,기타,농축수산물,0,1,0,0,0,1,4,2,...,5,8,76,63,6,189,247,159,194,165
124,기타,생활용품 및 자동차용품,16,15,16,19,23,27,32,30,...,109,410,165,156,216,237,232,209,315,324
125,기타,기 타,222,150,85,125,182,229,87,163,...,216,494,517,384,563,499,511,855,589,493

In [52]:
df.to_csv('jikgu_data_f.csv', encoding='utf-8-sig')